*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html{
    font-size: 62.5%;
    position: relative;
    overflow: hidden;      
}
 body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

 }
 ul{
     list-style: none;
 }
 a{
     text-decoration: none;
 }
 header{
    position: sticky;
    top: 0; 
    background-color: #60b4df;
    height: 6rem;
    width: 100%;
    z-index: 1000;


 }
 section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('./mount.jpg') ;
    background-size: cover;
    overflow: hidden;
 }
 .overlay{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgb(56 , 165, 238,0.5);
 }
 .hamburger{
     position: sticky;
     right: 3rem;
 }
 .icon{
     font-size: 2.5em;
     cursor: pointer;
 }
 .show{
     display: none;
     

 }
 #btn-1,#btn-2,#btn-3{
     display: none;
 }
 nav{
     max-width: 95rem;
     padding: 0 2rem;
     position: relative;
     height: 7rem;
     margin: 0 auto;
     display: flex;

 }
 .logo{
     
     flex: 1;
     font-size: 2rem;
     letter-spacing: 0.8rem;
     font-weight: 600;
     text-transform: uppercase;
 }
 .logo span {
     font-weight: 300;
 }
 .nav-links{
     display: flex;
     flex: 2;
     
    
 }
 .nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .nav-links a{
     letter-spacing: 1px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
    color: #fff;
    text-transform: uppercase;

 }
 .nav-links a:hover{
     color: #0a3d58;
 }
 .nav-links i{
     margin-left: 2rem;
 }
 .main-link{
     text-transform: uppercase;
    margin-left: 2rem;
     font-size: 2rem;
     transition: transform .3s;
 }
 .main-link:hover{
     transform: scale(1.1);
 }
.dropdown{
    position: absolute;
    top:100%;
    left:1rem;
    width: 20rem;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    padding-top: 1rem;
    
}
.main-link:hover > .dropdown{

   opacity: 1;
    pointer-events: all;
    
}
.dropdown-link:hover > .dropdown.second{
    opacity: 1;
    pointer-events: all;
}
.main-link:hover > .l-menu{
    opacity: 1;
    pointer-events: all;
}

.l-menu{
    position: absolute;
    top:100%;
    right:-1rem;
    border-radius: .7rem;
    width: 17rem;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    padding-top: 1rem;
  
    
}
.dropdown.second{
    position: absolute;
    top:0;
    left:90%;
    border-radius: .7rem;
    margin-left: .8rem;
    cursor: pointer;
    margin-left: 2.1rem;
   

    
}


.dropdown ul,.l-menu ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #60b4df;
    border-radius: .7rem;
   
    

}
.l-menu a{
    width: 100%;
}

.dropdown-link{
    position: relative;
    width:100%;
    border-bottom: 2px solid #fcfcfc;
    border-radius: .7rem;
    font-size: 1.4rem;
    padding: 1rem 1rem;
}
.dropdown-link i{
    transform: rotate(-90deg);
}

.hamburger-container{
    position: relative;
    top: 1.5rem;
    right: 2rem;
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
}


.hamburger{
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger div{
    width: 3.5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: .4s;
    cursor: pointer;
    

}
.hamburger div::before,.hamburger div::after{
    content: '';
    position: absolute;
    width: 3.5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
    transition: .4s;

}
.hamburger div::before{
    transform: translateY(7px);
}
.hamburger div::after{
    transform: translateY(-7px);
}
#btn{
    position: absolute;
    right: -19rem;
    top: 60%;
    transform: translateY(-90%);
    width: 4rem;
    height: 2.8rem;
    cursor: pointer;
    
    display: none;

}
#btn:checked ~ label .hamburger-container .hamburger div{
    background-color: transparent;
}
#btn:checked ~ label .hamburger-container .hamburger div::before{
    transform: rotate(45deg);
}
#btn:checked ~ label .hamburger-container .hamburger div::after{
    transform: rotate(-45deg);
}


@media (max-width: 900px){
    .nav-links{
        display: none;
        transition:.5s;
    }
    .hamburger-container{
        opacity: 1;
        pointer-events: all;
    }
    #btn:checked ~ .nav-links{
        display: initial;
        pointer-events: all;
        background-color:  rgb(56 , 165, 238,0.5);
        height: calc(100vh - 3rem);
        display: flex;
        flex-direction: column;
        top: 6rem;
        left: 0;
        width: 100%;
        position: fixed;
        

        
    }
    
    .nav-links ul{
        flex-direction: column;
        display: block;
        width: 100%;
        line-height: 7rem;
         
       
    }
    .dropdown.second .dropdown-link:nth-last-child(1){
        border-bottom: none;
    }
    .dropdown-link i{
        transform: rotate(0deg);
    }
    .main-link:hover{
        transform: scale(1);
    }

    .main-link:hover > .dropdown{
        width: 100%;
        position:unset;
        margin-bottom: 1.5rem;

    }
    .main-link:hover > .l-menu{
       position: unset;
       margin-bottom: 1.5rem;
       width: 100%;
    }
    .dropdown-link:hover > .dropdown.second{
      position: unset;
     
      
     
}
}

@media(max-width:730px){
    .logo{
        position: absolute;
        width: 100%;
       
    }
    .hamburger-container{
        position: absolute;
    }
}
@media(max-width:400px){
    .logo{
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .hamburger-container{
        width: 2rem;
        height: 1rem;
    }
    
    
}